@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.app-container {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-header {
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.logo {
  height: 120px;
  margin-right: 20px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  width: 100%;
}
.franjaroja{
  background-color:#b5121c;
  height: 50px;
}
.image-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
}

.image-button img {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: auto;
  object-fit: cover;
}
.cont-label{
 margin: 0 auto;
 padding: 0;
 height: 80px;
 background-color: #bfb6b8;
}
.button-label {  
  color: #b5121c;
  padding-top: 5px;
  font-size: 30px;
  font-family: "Anybody", sans-serif;
}

.app-footer {
  background-color: black;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: left;
}
