/* PaymentGateway.css */
.payment-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .payment-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .close-button-pas{
    background: #B5121C;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
  }
  
  .close-button-pas:hover {
    background: #9b0e19;
  }
  .close-button-re{
    background: #4B4F57;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 15px;
  }
  
  .close-button-re:hover {
    background: #4B4F57;
  }
  .grupo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
  } 
  .pasarella{
    font-size: 15px;
    text-align: left;
  } 
  .grupo .pas-in{
    margin-left: 45px;
  }
  