.frameChild {
  width: 266.8px;
  height: 90px;
  position: relative;
  background-color: var(--color-white);
  display: none;
}
.administrar,
.manager {
  position: relative;
  z-index: 2;
}
.administrar {
  width: 179px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.manager {
  margin: 0;
  flex: 1;
  font-size: inherit;
  line-height: 34px;
  font-weight: 400;
  font-family: inherit;
}
.productsIcon {
  height: 15.6px;
  width: 10.1px;
  position: relative;
  z-index: 1;
}
.managerParent,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.managerParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xl-4);
  font-size: var(--font-size-13xl);
}
.rectangleParent {
  flex: 0.8626;
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-4xl) var(--padding-base)
    var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 174px;
  flex-shrink: 0;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-firebrick);
  font-family: var(--font-anybody);
}
@media screen and (max-width: 1025px) {
  .manager {
    font-size: var(--font-size-7xl);
    line-height: 27px;
  }
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    flex: 1;
  }
}
@media screen and (max-width: 450px) {
  .administrar {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .manager {
    font-size: var(--font-size-lgi);
    line-height: 20px;
  }
}
