.image56Icon,
.navbarChild {
  position: relative;
  max-width: 100%;
}
.navbarChild {
  height: 137px;
  width: 1280px;
  display: none;
}
.image56Icon {
  width: 325px;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.inicio {
  position: relative;
  line-height: 58px;
  display: inline-block;
  min-width: 91px;
  z-index: 2;
}
.imageLummiCategoryavat {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-181xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.homeImage,
.inicioParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.homeImage {
  align-self: stretch;
  width: 68px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.inicioParent {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-4xs);
}
.navbar,
.navbarMenu {
  display: flex;
  box-sizing: border-box;
}
.navbarMenu {
  height: 85px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xl);
}
.navbar {
  margin-top: -157px;
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-23xl) var(--padding-sm)
    var(--padding-mid);
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-dimgray);
  font-family: var(--font-anybody);
}
@media screen and (max-width: 925px) {
  .inicio {
    font-size: var(--font-size-10xl);
    line-height: 46px;
  }
}
@media screen and (max-width: 700px) {
  .navbar {
    flex-wrap: wrap;
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .inicio {
    font-size: var(--font-size-3xl);
    line-height: 35px;
  }
}
