/* src/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;

    min-height: 100vh; /* Hace que el body ocupe el 100% de la altura de la ventana */
  }
  
  .app-container {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px; /* Padding reducido para una interfaz más rectangular */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Bordes redondeados */
    overflow: auto; /* Permite que el contenido grande no rompa el contenedor */
    text-align: center; /* Centra todo el texto por defecto */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .home-link {
    color: #000; /* Color negro */
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  .home-link:hover {
    text-decoration: underline;
  }
  
  .main-content {
    margin-bottom: 20px; /* Espacio debajo del contenido principal */
  }
  
  .page-title {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0; /* Espacio arriba y abajo del título */
    color: black;
  }
  
  .top-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Espacio debajo de los botones */
  }
  
  .back-link {
    color: #000; /* Color negro */
    text-decoration: none;
    font-size: 16px;
  }
  
  .back-link:hover {
    text-decoration: underline;
  }
  
  .add-product-button {
    background-color: #c8102e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-product-button:hover {
    background-color: #a00b24;
  }
  
  .search-container {
    margin-top: 10px;
  }
  
  .search-container input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    background-color: #fff; /* Color de fondo blanco */
  }
  
  .product-table {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
    border-collapse: collapse;
    margin-top: 20px;
    color: grey;
  }
  
  .product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .product-table th {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .edit-button, .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .edit-button {
    color: #c8102e;
  }
  
  .delete-button {
    color: #333;
  }
  
  footer {
    margin-top: 20px;
    font-size: 14px;
    color: #fff; /* Texto blanco */
    background-color: #000; /* Fondo negro */
    padding: 10px 0; /* Padding para el footer */
    text-align: center;
    border-radius: 0 0 10px 10px; /* Bordes redondeados solo en la parte inferior */
  }
  
  