.instanceChild {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-mintcream);
}
.vectorIcon {
  height: 37.2px;
  width: 36.3px;
  position: relative;
  display: none;
}
.rectangleParent {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
