.frameChild {
  height: 90px;
  width: 266.8px;
  position: relative;
  background-color: var(--color-white);
  display: none;
}
.administrar,
.administrar1 {
  flex: 1;
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.administrar1 {
  z-index: 2;
  margin-left: -179px;
}
.trainersTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.manager,
.manager1 {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 34px;
  color: inherit;
  z-index: 1;
}
.manager1 {
  z-index: 2;
  margin-left: -179px;
}
.managersTitle,
.trainersAdmin {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.managersTitle {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-13xl);
}
.trainersAdmin {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.clientTitleIcon {
  width: 10.1px;
  height: 15.6px;
  position: relative;
  z-index: 1;
}
.clientAdmin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xl-4);
}
.frameItem,
.rectangleParent {
  background-color: var(--color-white);
}
.rectangleParent {
  flex: 0.8695;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-2xs)
    var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  min-width: 174px;
  flex-shrink: 0;
  z-index: 1;
}
.frameItem {
  width: 266.8px;
  height: 90px;
  position: relative;
  display: none;
}
.administrar2 {
  width: 176px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  z-index: 2;
}
.entrenadores {
  position: relative;
  line-height: 34px;
  z-index: 2;
}
.entrenadoresWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.clientsIcon {
  height: 15.6px;
  width: 10.1px;
  position: relative;
  z-index: 1;
}
.frameParent {
  flex-direction: row;
  gap: var(--gap-11xs);
  font-size: var(--font-size-13xl);
}
.adminOptions,
.frameParent,
.options,
.productsAdmin,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleGroup {
  flex: 1;
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-6xs) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-11xs);
  min-width: 174px;
  flex-shrink: 0;
  z-index: 1;
}
.adminOptions,
.options,
.productsAdmin {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-14xl-6);
}
.options,
.productsAdmin {
  gap: var(--gap-15xl-2);
}
.options {
  flex-direction: column;
  gap: var(--gap-xl);
}
.administrar3,
.tProductos {
  position: relative;
  z-index: 2;
}
.administrar3 {
  width: 179px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.tProductos {
  margin-right: -0.6px;
  text-decoration: none;
  line-height: 34px;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.exerciseTypeTitle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.exercisesIcon {
  height: 15.6px;
  width: 10.1px;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.rectangleContainer {
  flex: 0.8587;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-4xl) var(--padding-base)
    var(--padding-6xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 174px;
  flex-shrink: 0;
  z-index: 1;
}
.tEjercicios {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 34px;
  font-weight: 400;
  font-family: inherit;
  z-index: 2;
}
.tEjerciciosWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.frameGroup {
  width: 247.1px;
  flex-direction: row;
  gap: var(--gap-11xs);
  font-size: var(--font-size-13xl);
}
.exercisesAdmin,
.frameGroup,
.groupDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupDiv {
  flex: 1;
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  min-width: 174px;
  flex-shrink: 0;
  z-index: 1;
}
.exercisesAdmin {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-16xl-2);
}
.content,
.main {
  display: flex;
  max-width: 100%;
}
.main {
  width: 568.8px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.content {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-494xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-firebrick);
  font-family: var(--font-anybody);
}
@media screen and (max-width: 1100px) {
  .content {
    padding-left: var(--padding-237xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1025px) {
  .entrenadores,
  .manager,
  .manager1,
  .tEjercicios,
  .tProductos {
    font-size: var(--font-size-7xl);
    line-height: 27px;
  }
}
@media screen and (max-width: 750px) {
  .rectangleGroup,
  .rectangleParent {
    flex: 1;
  }
  .adminOptions,
  .productsAdmin {
    gap: var(--gap-mid);
    flex-wrap: wrap;
  }
  .groupDiv,
  .rectangleContainer {
    flex: 1;
  }
  .exercisesAdmin {
    gap: var(--gap-lg);
    flex-wrap: wrap;
  }
  .content {
    padding-left: var(--padding-109xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .administrar,
  .administrar1 {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .manager,
  .manager1 {
    font-size: var(--font-size-lgi);
    line-height: 20px;
  }
  .rectangleParent {
    gap: var(--gap-mini);
  }
  .administrar2 {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .entrenadores {
    font-size: var(--font-size-lgi);
    line-height: 20px;
  }
  .administrar3 {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .tEjercicios,
  .tProductos {
    font-size: var(--font-size-lgi);
    line-height: 20px;
  }
  .content {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
