.bot1 {
  position: relative;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  align-self: stretch;
  background-color: var(--color-black);
  flex-direction: row;
  justify-content: space-between;
  padding: 11.2px 57px var(--padding-5xs) 22px;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
  margin-top: -2px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-mintcream);
  font-family: var(--font-anybody);
}

.bot-item {
  height: 57.2px;
  width: 1280px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
  z-index: 0;
}

.link1 {
  position: relative;
  margin: 0;
  font-size: inherit;
  line-height: 160%;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
  color:white;
}

.social-media-icons-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 8.8px 0 0;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  gap: var(--gap-xs);
  align-items: flex-start;
  justify-content: flex-start;
}

.icon-facebook1,
.icon-youtube1 {
  height: 30px;
  width: 30px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}

.bot1 {
  align-self: stretch;
  background-color: var(--color-black);
  flex-direction: row;
  justify-content: space-between;
  padding: 11.2px 57px var(--padding-5xs) 22px;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
  margin-top: -2px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-mintcream);
  font-family: var(--font-anybody);
}