.frameChild {
  height: 149.8px;
  width: 266.8px;
  position: relative;
  background-color: var(--color-firebrick);
  display: none;
}
.informacinDeInventarios {
  height: 56px;
  flex: 1;
  position: relative;
  line-height: 116%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.rectangleParent {
  align-self: stretch;
  background-color: var(--color-firebrick);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-49xl) var(--padding-lg) var(--padding-6xl-8)
    var(--padding-9xl);
  z-index: 1;
}
.frameItem {
  height: 70.1px;
  width: 266.8px;
  position: relative;
  background-color: var(--color-white);
  display: none;
}
.sedes {
  width: 112.5px;
  position: relative;
  line-height: 26px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.dashboardIconsSet {
  width: 10.1px;
  height: 15.6px;
  position: relative;
  z-index: 2;
}
.dashboardIconsSetWrapper,
.rectangleGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.rectangleGroup {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-3xl) var(--padding-mid) var(--padding-3xl-1)
    var(--padding-13xl);
  gap: var(--gap-xl);
  z-index: 1;
}
.frameInner {
  height: 70.1px;
  width: 266.8px;
  position: relative;
  background-color: var(--color-mintcream);
  display: none;
}
.inventario {
  width: 164.5px;
  position: relative;
  line-height: 26px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.groupDiv,
.rectangleContainer,
.vectorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.groupDiv,
.rectangleContainer {
  align-self: stretch;
  background-color: var(--color-mintcream);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-mid) var(--padding-6xl-1)
    var(--padding-9xl);
  gap: var(--gap-xl);
  z-index: 1;
}
.groupDiv {
  padding: var(--padding-5xl-1) var(--padding-mid) var(--padding-xl)
    var(--padding-13xl);
}
.dashboardIcons,
.inventoryInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.dashboardIcons {
  align-self: stretch;
  gap: var(--gap-xl-8);
  text-align: left;
  color: var(--color-firebrick);
}
.inventoryInfo {
  flex: 0.9781;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xl-2);
  min-width: 205px;
}
.informacinDeCompras {
  height: 55.4px;
  flex: 1;
  position: relative;
  line-height: 116%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.rectangleParent1 {
  align-self: stretch;
  background-color: var(--color-firebrick);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-49xl-4) var(--padding-8xl) var(--padding-7xl);
  z-index: 1;
}
.membresas {
  flex: 1;
  position: relative;
  line-height: 26px;
  z-index: 1;
}
.salesforce,
.smileBeam {
  height: 21px;
  width: 23px;
  position: relative;
  background-color: var(--color-gray);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.salesforce {
  width: 22px;
}
.rectangleParent2,
.rectangleParent3 {
  align-self: stretch;
  background-color: var(--color-mintcream);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-4xl) var(--padding-3xl-1)
    var(--padding-13xl);
  z-index: 1;
}
.rectangleParent3 {
  padding: var(--padding-3xl) var(--padding-4xl) var(--padding-3xl-1)
    var(--padding-8xl);
}
.empleados {
  position: relative;
  line-height: 26px;
  z-index: 1;
}
.frameParent,
.rectangleParent4 {
  display: flex;
  align-items: flex-start;
}
.rectangleParent4 {
  align-self: stretch;
  background-color: var(--color-mintcream);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-5xl-1) var(--padding-5xl) var(--padding-xl)
    var(--padding-12xl);
  gap: var(--gap-xl);
  z-index: 1;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl-2);
  min-width: 200px;
}
.rangos {
  flex: 1;
  position: relative;
  line-height: 26px;
  z-index: 2;
}
.instanceParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-9xl) var(--padding-3xl-1)
    var(--padding-11xl);
  position: relative;
  gap: var(--gap-13xl-5);
}
.frameDiv,
.instanceParent,
.rectangleParent6 {
  display: flex;
  align-items: flex-start;
}
.rectangleParent6 {
  align-self: stretch;
  background-color: var(--color-mintcream);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-11xl) var(--padding-xl-1)
    var(--padding-8xl);
  gap: var(--gap-xl);
  z-index: 1;
}
.frameDiv {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs-4);
}
.rectangleParent7 {
  align-self: stretch;
  background-color: var(--color-mintcream);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-3xl-1) var(--padding-11xl) var(--padding-3xl);
  gap: var(--gap-10xl-5);
  z-index: 1;
}
.inventoryTitle {
  width: 857px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-anybody);
}
@media screen and (max-width: 925px) {
  .informacinDeInventarios,
  .inventario,
  .sedes {
    font-size: var(--font-size-5xl);
    line-height: 28px;
  }
  .inventario,
  .sedes {
    line-height: 21px;
  }
  .empleados,
  .informacinDeCompras,
  .membresas,
  .rangos {
    font-size: var(--font-size-5xl);
    line-height: 28px;
  }
  .empleados,
  .membresas,
  .rangos {
    line-height: 21px;
  }
  .inventoryTitle {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .informacinDeInventarios,
  .inventario,
  .sedes {
    font-size: var(--font-size-lg);
    line-height: 21px;
  }
  .inventario,
  .sedes {
    line-height: 16px;
  }
  .inventoryInfo {
    flex: 1;
  }
  .informacinDeCompras {
    font-size: var(--font-size-lg);
    line-height: 21px;
  }
  .empleados,
  .membresas,
  .rangos {
    font-size: var(--font-size-lg);
    line-height: 16px;
  }
  .instanceParent {
    gap: var(--gap-base);
  }
}
