@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-anybody: Anybody;
  --font-alegreya: Alegreya;

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;

  /* Colors */
  --color-white: #fff;
  --color-firebrick: #b5121c;
  --color-black: #000;
  --color-whitesmoke: #f3f4f7;
  --color-mintcream: #f7fffb;
  --color-gray: rgba(0, 0, 0, 0);
  --color-dimgray: #4b4f57;

  /* Gaps */
  --gap-xs: 12px;
  --gap-xl: 20px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-5xl-2: 24.2px;
  --gap-xl-8: 20.8px;
  --gap-10xl-5: 29.5px;
  --gap-13xl-5: 32.5px;
  --gap-base: 16px;
  --gap-4xs: 9px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-11xl: 30px;
  --padding-3xl: 22px;
  --padding-6xs: 7px;
  --padding-8xl: 27px;
  --padding-10xl: 29px;
  --padding-mid: 17px;
  --padding-12xs: 1px;
  --padding-23xl: 42px;
  --padding-3xs: 10px;
  --padding-2xl: 21px;
  --padding-4xl: 23px;
  --padding-3xl-1: 22.1px;
  --padding-8xs-4: 4.4px;
  --padding-xl-1: 20.1px;
  --padding-10xs: 3px;
  --padding-9xl: 28px;
  --padding-49xl-4: 68.4px;
  --padding-7xl: 26px;
  --padding-5xl-1: 24.1px;
  --padding-12xl: 31px;
  --padding-8xs: 5px;
  --padding-13xl: 32px;
  --padding-7xs: 6px;
  --padding-lgi: 19px;
  --padding-6xl-1: 25.1px;
  --padding-49xl: 68px;
  --padding-lg: 18px;
  --padding-6xl-8: 25.8px;
  --padding-sm: 14px;

  /* Border radiuses */
  --br-181xl: 200px;
}
