.header {
    background-color: #fff;
    color: #1a1a1a;
    padding: 1rem 0;
    width: 100%;
  }
  
  .header-container {
    
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-wrapper {
    display: flex;
    align-items: center;
  }
  
  .logo {
    padding: 20px;
    height: 350px;
    margin-right: 1rem;
  }
  
  .app-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navigation {
    display: flex;
    gap: 1.5rem;
  }
  
  .navigation-link {
    color: #000;
    text-decoration: none;
    font-size:40px;
    transition: color 0.3s ease;
  }
  
  .navigation-link:hover {
    color: #e30613;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .user-profile-picture {
    padding: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }