/* Contenedor del formulario */
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 800px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.employee-form-header {
  background-color: #b40404;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.employee-form {
  padding: 20px;
}

.dni-search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.search-sunat-btn {
  background-color: #b40404;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.employee-form input,
.employee-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.contract-upload-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  gap: 5px;
}

.btn-section {
  display: flex;
  justify-content: space-between;
}

.add-btn {
  background-color: #b40404;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.return-btn {
  background-color: #ccc;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.add-btn:hover,
.return-btn:hover {
  opacity: 0.9;
}
